<!DOCTYPE html >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= configatron.app_name %> - <%= yield(:title) || 'Home' %></title>
    <%= stylesheet_link_tag :flutie, 'application', 'icons' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <section id="page"> <!-- Defining the #page section with the section tag -->
      <%= render 'layouts/header' %>
      <div class="content">
        <% if show_title? %>
        <hr />
        <p>asset_host is set to: "<%= ActionController::Base.asset_host %>"</p>
        
        <%= render 'layouts/messages' %>

          <h1><%= yield(:title) %></h1>
        <% end %>

        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
      <div>
          <br class="clear" />
          <%= debug(params) if Rails.env.development? %>
          <%= render 'layouts/scripts' %>
      </div>
    </section>
  </body>
</html>
